[Desktop Entry]
Type=Application
Name=Borne
Comment=
Exec=/usr/bin/lxterminal -e /home/pi/git/borne_arcade/lancerBorne.sh
Icon=gtk-dialog-authentication
NotShowIn=GNOME;KDE;
Hidden=false
Terminal=true
X-KeepTerminal=false
